<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="wIdth=device-wIdth, initial-scale=1.0">
    <title>@ViewBag.Title – My Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Поиск", "Search", "Home")</li>
                    <li>@Html.ActionLink("Выбрать файл тендеров", "AddTender", "Home")</li>
                    <li>@Html.ActionLink("Добавить новый заказ", "AddFile", "Home")</li>
                    @*@<li>@Html.ActionLink("Просмотреть записи*", "LookAll", "Home")</li>*@
                    <li>@Html.ActionLink("Просмотреть склад", "LookPreparationBase", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – My Project</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>